@using Web.ViewModel
@model SalleViewModel

<div class="search-room-container">
    <a asp-controller="Etages" asp-action="CreateEtage">Créer un étage</a>
    <a asp-controller="Etages" asp-action="CreateSalle">Créer une salle</a>
    <a asp-controller="Utilisateurs" asp-action="Signin">S'inscrire</a>

    <div class="form-section">
        <form asp-action="formSearchRoom" class="form">
            <input name="salle" placeholder="Numéro/Nom étage" class="input-field" />
            <button type="submit" class="btn">Rechercher</button>
        </form>
    </div>

    <div class="form-section">
        @foreach(var salle in Model.salles)
        {
            <card>@salle.Nom</card>
        }
    </div>

    @if(Model.salles != null)
    {
        <div class="form-section">
            <form asp-action="formSearchSalle" class="form formSelectSalle">
                <select name="SalleId">
                    @foreach (var salle in Model.salles)
                    {
                        <option value="@salle.Numero">@salle.Nom ( @salle.Numero )</option>
                    }
                </select>
                 <button type="submit" class="btn">Rechercher</button>
            </form>
        </div>
    }

    @if (Model.salle != null)
    {
        <section class="section_imgPlan">
                <embed src="~/@Model.salle.Etage.ImgPlanEtagePath" class="img-plan" />
        </section>

        <section class="section_infoSalle">

            <ul class="list-info">
                <li><strong>Nom Bureau :</strong> @Model.salle.Nom</li>
                <li><strong>Numéro :</strong> @Model.salle.Numero</li>
                <li><strong>Favori :</strong> @Model.salle.Favori</li>
                <li><strong>Étage :</strong> @Model.salle.Etage.Nom</li>
                <a asp-controller="Etages" asp-action="SignalerRoom">Signaler</a>

            </ul>

            <div class=".container_imageSalle">
                <div>
                    <img src="~/@Model.salle.ImgSallePath" alt="Salle" />

                </div>
            </div>
        </section>
    }

    @* <div class="floor-list">
        <h3>Liste des étages :</h3>
        @foreach (var item in Model.etages)
        {
            <ul>
                <li><strong>Niveau :</strong> @item.Niveau</li>
                <li><strong>Nom :</strong> @item.Nom</li>
            </ul>
        }
    </div> *@
</div>