@using Web.ViewModel
@model SalleViewModel

<div class="search-room-container">
    <a class="linkStyle" asp-controller="Etages" asp-action="Index">+</a>


    <div class="form-section">
        <form class="form" id="searchRoomForm">
            <input name="salle" id="salleInput" placeholder="Numéro/Nom étage" class="input-field" />
            <button type="submit" class="btn">Rechercher</button>
        </form>
    </div>

    @if(Model.etages != null)
    {
        <div class="form-section">
            <form class="form formSelectEtage">
                <select id="etageSelect" name="EtageId" class="form-select">
                    <option value="all">-- Tous les étages --</option>
                    <hr class="dropdown-divider">
                    @foreach (var etage in Model.etages)
                    {
                        <option value="@etage.Id">@etage.Nom</option>
                    }
                </select>
            </form>
        </div>
    }

    <div id="sallesList" class="container_ListSalle">
        @if(Model.salles != null)
        {
            @foreach (var salle in Model.salles)
            {

                <a class="salles_click" data-etage="@salle.EtageId" data-salledataid="@salle.Id" style="cursor:pointer;">
                    <div class="box_visuSalle">
                        <div class="box_visuSalleInfo">
                            <p>@salle.Nom</p>
                            <p>@salle.Numero</p>
                        </div>
                        <div class="box_visuSalleImg">
                            <img class="Img_visuSalle" src="~/@salle.ImgSallePath"/>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <p>no working</p>
        }
    </div>


    @foreach(var salle in Model.salles)
    {
        
    
        @if (salle != null)
        {

            <div class="container_infoSalle" data-sallelid="@salle.Id" data-sallenum="@salle.Numero" data-sallenom="@salle.Nom">
                <a style="cursor:pointer;" class="btnFavori " data-salleidfavorite="@salle.Id">j'adore</a>
                <p class="displayFavorie"></p>
                <section class="section_imgPlan">
                        <embed src="~/@salle.Etage.ImgPlanEtagePath" class="img-plan" />
                </section>

                    <section class="section_infoSalle">

                    <ul class="list-info">
                        <li><strong>Nom Bureau :</strong> @salle.Nom</li>
                            <li><strong>Numéro :</strong> @salle.Numero</li>
                            <li><strong>Favori :</strong> @salle.Favori</li>
                            <li><strong>Étage :</strong> @salle.Etage.Nom</li>
                        <a asp-controller="Etages" asp-action="SignalerRoom">Signaler</a>
                    </ul>
                    <div class="container_imageSalle">
                        <div>
                                <img src="~/@salle.ImgSallePath" alt="Salle" />
                        </div>
                    </div>
                </section>
            </div>

        
        
        }
    }

</div>
