
@model Domain.Salle

<h2>Rechercher un étage</h2>

<form asp-action="formSearchEtage">
    <input name="Niveau" placeholder="Numéro étage"/>
    <button type="submit">Rechercher</button>
</form>


<h2>Résultat de la recherche</h2>

@if (Model != null)
{
    <p>Étage trouvé :</p>
    <ul>
        
        <li>Nom Bureau : @Model.Nom</li>
        <li>Nom Bureau : @Model.Numero</li>
        <li>Nom Bureau : @Model.Favori</li>
        <li>Nom Bureau : @Model.CoordX2BotRight</li>

        <li>Nom Etage : @Model.Etage.Nom</li>


    </ul>
}
