@using Domain
@using Web.ViewModel
@model SalleViewModel

<div class="search-room-container">
    <a class="linkStyle addItem" asp-controller="Etages" asp-action="Create">+</a>

        <form class="form form-section" id="searchRoomForm">
            <input name="salle" id="salleInput" placeholder="Numéro/Nom salle" class="input-field" />
            <button type="submit" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </form>

        <div class="form form-section" id="sortSection">
            <select id="sortSelect" class="form-select sort-select">
                <option value="default">-- Trier par --</option>
                <option value="name-asc">Nom (A-Z)</option>
                <option value="name-desc">Nom (Z-A)</option>
                <option value="number-asc">Numéro (croissant)</option>
                <option value="number-desc">Numéro (décroissant)</option>
                <option value="type-asc">Type (A-Z)</option>
                <option value="type-desc">Type (Z-A)</option>
                <option value="floor-asc">Étage (croissant)</option>
                <option value="floor-desc">Étage (décroissant)</option>
            </select>
        </div>

        <form class="form formSelectFiltre form-section">
            <select id="etageSelect" name="EtageId" class="form-select">
                <option value="all">-- Reset --</option>
                <hr class="dropdown-divider">
                @foreach (var etage in Model.etages)
                {
                    <option value="@etage.Id">@etage.Nom</option>
                }
            </select>
            <select id="typeSalle" name="TypeSalle" class="form-select">
                <option value="all">-- Reset --</option>
                <hr class="dropdown-divider">
                @foreach (var type in Model.salles.Select(s => s.TypeSalle).Distinct())
                {
                    <option value="@type">@type</option>
                }
            </select>
            <select id="attributSalle" name="AttributSalle" class="form-select">
                <option value="all">-- Reset --</option>
                <hr class="dropdown-divider">

                @{
                    var addedOptions = new HashSet<string>();

                    foreach (var salle in Model.salles)
                    {
                        var sallePause = salle as SallePause;
                        var salleReunion = salle as SalleReunion;
                        var salleBubble = salle as SalleBubble;


                        if (sallePause != null)
                        {
                            if (addedOptions.Add("distributeur"))
                            {
                                <option value="distributeur">Distributeur</option>
                            }
                            if (addedOptions.Add("frigo"))
                            {
                                <option value="frigo">Frigo</option>
                            }
                        }

                        if (salleReunion != null)
                        {
                            if (addedOptions.Add("ecran"))
                            {
                                <option value="ecran">Écran</option>
                            }
                            if (addedOptions.Add("camera"))
                            {
                                <option value="camera">Caméra</option>
                            }
                            if (addedOptions.Add("tableaublanc"))
                            {
                                <option value="tableaublanc">Tableau blanc</option>
                            }
                            if (addedOptions.Add("systemeaudio"))
                            {
                                <option value="systemeaudio">Système audio</option>
                            }
                        }
                        
                        if (salleBubble != null && addedOptions.Add("priseelectrique"))
                        {
                            <option value="priseelectrique">Prise électrique</option>
                        }
                    }
                }

            </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="favoriSelect" class="bi bi-star-fill iconFavoriFill iconStar iconStarFiltre" viewBox="0 0 16 16">
                <path class="iconStar-filter" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
            </svg>

        </form>


    <div id="sallesList" class="container_ListSalle">
        @if (Model.salles != null)
        {
            @foreach (var salle in Model.salles)
            {
                var sallePause = salle as SallePause;
                var salleReunion = salle as SalleReunion;
                var salleBubble = salle as SalleBubble;

                <a class="salles_click"
                   data-etage="@salle.EtageId"
                   data-salleclickid="@salle.Id"
                   data-type="@salle.TypeSalle"
                   @if (sallePause != null)
                   {
                       @:data-distributeur="@(sallePause.Distributeur ? "distributeur" : "non")"
                       @:data-frigo="@(sallePause.Frigo ? "frigo" :"non")"
                   }
                   @if (salleReunion != null)
                   {
                       @:data-ecran="@(salleReunion.Ecran ? "ecran" : "non")"
                       @:data-camera="@(salleReunion.Camera ? "camera" : "non")"
                       @:data-tableaublanc="@(salleReunion.TableauBlanc ? "tableaublanc" : "non")"
                       @:data-systemeaudio="@(salleReunion.SystemeAudio ? "systemeaudio" : "non")"
                   }
                   @if (salleBubble != null)
                   {
                       @:data-priseelectrique="@(salleBubble.PriseElectrique ? "priseelectrique" : "non")"
                   }
                   style="cursor:pointer;">
                    <div class="box_visuSalle">
                        <div class="box_visuSalleInfo">
                            <p>@salle.Nom</p>
                            <p>@salle.Numero</p>
                            <p>@salle.TypeSalle</p>
                            <div class="box_iconFavori_visuSalle" data-salleinfoid="@salle.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill iconFavoriFill iconStar" viewBox="0 0 16 16">
                                    <path d="" />
                                </svg>
                            </div>
                        </div>
                        <div class="box_visuSalleImg">
                            <img class="Img_visuSalle" src="~/@salle.ImgSallePath"/>
                        </div>
                    </div>
                </a>

                <div class="hidden container_plan_info" data-sallelid="@salle.Id" data-sallenom="@salle.Nom" data-sallenum="@salle.Numero">
                    <span class="closeModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg iconCLose" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </span>

                    <div class="section_infoSalle">
                        <div class="box_imgSalle">
                            <img src="~/@salle.ImgSallePath" alt="Salle" class="imgSalle" />
                        </div>

                        <div class="box_iconFavori" data-salleidfavorite="@salle.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill iconFavoriFill iconStar" viewBox="0 0 16 16">
                                <path class="iconStar" d="" />
                            </svg>
                        </div>

                        <div class="list-info">
                            <div class="box_infoPrin_salle_modal">
                                <p class="p_infoSalle">@salle.Nom</p>
                                <p class="p_infoSalle">@salle.Numero</p>
                                <p class="p_infoSalle">@salle.Etage.Nom</p>
                                <p class="p_infoSalle">@salle.TypeSalle</p>
                                <a asp-controller="Etages" asp-action="SignalerRoom">Signaler</a>
                            </div>

                            <div class="box_infoPrin_salle_modal">
                                @if (sallePause != null)
                                {
                                    <div>
                                        <p> @(sallePause.Distributeur ? "Distributeur" : "Pas de distributeur")</p>
                                        <p>Micro-ondes: @sallePause.MicroOndes</p>
                                        <p>@(sallePause.Frigo ? "Frigo" : "Pas de frigo")</p>
                                        <p>Evier: @sallePause.Evier</p>
                                        <p>Chaises: @sallePause.NbChaises</p>
                                        <p>Tables: @sallePause.NbTables</p>
                                    </div>
                                }
                                @if (salleReunion != null)
                                {
                                    <div>
                                        <p>@(salleReunion.Ecran ? "Écran" : "Pas écran")</p>
                                        <p>@(salleReunion.Camera ? "Caméra" : "Pas d'écran")</p>
                                        <p> @(salleReunion.TableauBlanc ? "Paper board" : "pas de paper board")</p>
                                        <p>Système audio: @(salleReunion.SystemeAudio ? "Oui" : "Non")</p>
                                    </div>
                                }
                                @if (salleBubble != null)
                                {
                                    <div>
                                        <p>Prise électrique: @(salleBubble.PriseElectrique ? "Oui" : "Non")</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="section_imgPlan">
                        <canvas id="planCanvas_@salle.Id" 
                                class="img-plan" 
                                data-imgpath="@Url.Content("~/" + salle.Etage.ImgPlanEtagePath)"
                                data-coordx="@salle.CoordonneeX"
                                data-coordy="@salle.CoordonneeY">
                        </canvas>
                    </div>
                </div>
            }
        }
        else
        {
            <p>no working</p>
        }
    </div>
</div>
